* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    background: #F0F4F8;
    ;
}

html,
body,
.main {
    width: 100%;
    height: 100vh;
}

.main {
    display: table;
}

.wrapper__header,
.wrapper__footer,
.content {
    display: table-row;
}

.wrapper__header,
.wrapper__footer {
    height: 1px;
}

.content {
    height: auto;
}

.header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background: #fff;
    margin-bottom: 40px;
    
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}



.header__title {
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #486581;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.header__search{
    position:absolute;
    top: 25px;
    right: 21%;
}
.header__input {
    width: 20vw;
    height: 30px;
    background: #D9E2EC;
    border-radius: 5px;
    position: relative;
    border: none;
    padding: 0 10px;
}
.search__icon{
    position: absolute;
    bottom:0;
    right:0;
    transform: translate(-25%, -25%);
}

.header__btn {
    width: 97px;
    height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #486581;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.stuff__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left:2px;
    margin-right:2px;
}

.stuff__add {
    background: #486581;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.stuff__edit {
    width: 144px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #486581;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #486581;
    cursor: pointer;
    margin-right: 10px;
    ;
}

.stuff__delete {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #486581;
    border: none;
    background: transparent;
    cursor: pointer;
}
.table__wrap{
    overflow-x:auto;
    margin-bottom:10px;
}
.stuff__table {
    margin: auto;
    margin-bottom: 40px;
}

.stuff__table >thead> tr > th {
    background: linear-gradient(360deg, #627D98 25%, #9FB3C8 100%);
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    min-width: 100px;
}

.stuff__item > td {
    text-align: center;
    padding: 10px 10px;
}

.stuff__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #627D98;
    background: #fff;
    cursor: pointer;
}

.stuff__item:hover {
    background: #D9E2EC;
    color: #486581;
}
.current{
    background: #D9E2EC;
    padding:5px;
    color: #486581;
}
#worker_id{
    display:none;
}
.hidden{
    display:none;
    transition: ease-in-out .3s;
}

.form__container{
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    border-radius: 8px;
    
}

.form__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: linear-gradient(360deg, #627D98 40.41%, #9FB3C8 119.18%);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.form__title {
    margin: 0;
}

.form__body {
    position: relative;
    flex: 1 1 auto;
    padding: 30px;
}


.form__department {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form__department > .form-group {
    width: 45%;

}

.form-year {
    width: 30%;
}

.title__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.title__block {
    width: 45%;
}

label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #627D98;
    margin-bottom: 10px;

}

input,
select {
    background: #D9E2EC;
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 5px;
    color: #627D98;
    width: 100%;
}

option {
    background: #fff;
    border: none;
}

.form__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #627D98;
}

.form__main,
.form__personal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.imgPreview {

    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.imgPreview>img {
    width: 100%;
}

.label-check {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
}

.input-check {
    width: auto;
}

.group-check {
    display: flex;
    align-items: center;
}

.main_block > .form-group > .input-check {
    width: auto;
    display: inline-block;
}

.main_block {
    width: 30%;
}

.form-group {
    margin-bottom: 20px;
    ;
}

.form_block {
    width: 45%;
}

.form__btn {
    text-align: center;
    margin-top: 50px;
}

.submit-btn {
    background: #486581;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.add_info{
    text-align: left !important;
}
.fields{
 margin-left: auto;  
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #486581;
    border: none;
    background: transparent;
    cursor: pointer;
    position:relative;
}
.fields_items{
    position:absolute;
    background: linear-gradient(360deg, #627D98 25%, #9FB3C8 100%);
    padding:20px;
    border-radius: 5px;
    right:0;
    width:30vw;
    transition: ease-in-out .3s;
}
.fields_items>div{
    display: inline-block;
    margin:5px;
    padding:5px;
    font-weight: regular;
    font-size: 14px;
    color:#fff;
    transition: ease-in-out .3s;
}
.fields_items>div.current{
    color: #486581;
    transition: ease-in-out .3s;
}
.footer {
    height: 19px;
    background: #627D98;
}

hr {
    color: #F0F4F8;
    border: 1px solid #F0F4F8;
    margin-bottom: 20px;
}
.form__delete{
    display:none;
}

@media screen and (max-width: 1200px) {    
    .container {
    max-width: 992px;
    margin: auto;
    }
    .header__search{
        right:10%;
    }
}

@media screen and (max-width: 992px) {    
    .container {
    max-width: 768px;
    margin: auto;
    }
    .header__search{
        right:10%;
    }
}

@media screen and (max-width: 768px) {    
    .container {
    max-width: 576px;
    margin: auto;
    }

}

@media screen and (max-width: 576px) {    
    .container {
    max-width: 240px;
    margin: auto;
    }
}